
@font-face {
  font-family: "Montserrat - Medium - 15";
  src: url(/public/Fonts/montserat/Montserrat-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat - Regular - 15";
  src: url(/public/Fonts/montserat/Montserrat-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Avenir - Book - 12";
  src: url(/public/Fonts/avenir/Avenir-Book.ttf) format("opentype");
}

@font-face {
  font-family: "Avenir - Book - 45";
  src: url(/public/Fonts/avenir/Avenir-Book.ttf) format("opentype");
}

.swiper-slide {
  width: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
}

.home {
  padding: 10px;
}

h1 {
  font-family: "Avenir - Book - 45", sans-serif;
  font-weight: 300;
  font-size: 45;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Montserrat - Medium - 15", sans-serif;
  font-weight: 500;
  font-size: 15;
}

h3 {
  font-family: "Montserrat - Regular - 15", sans-serif;
  font-weight: 400;
  font-size: 15;
}

p {
  font-family: "Avenir - Book - 12", sans-serif;
  font-weight: 300;
  font-size: 12;
  margin: 10px 0;
}

.rate {
  font-family: "Avenir - Book - 12", sans-serif;
  font-weight: 300;
  font-size: 15;
}

.btn {
  display: flex;
  gap: 5px;
}

.color-btn.selected {
  box-shadow: 0 0 0 1px black;
}

.yellow {
  padding: 10px;
  border: 10px transparent;
  border-radius: 50%;
  background-color: #E6CA97;
}


.white {
  padding: 10px;
  border: 1px transparent;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.rose {
  padding: 10px;
  border: 1px transparent;
  border-radius: 50%;
  background-color: #E1A4A9;
}

img {
  border-radius: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 20px;
  color: gray; 
}

.stars {
  padding: 10px 0;
  display: flex;
  gap: 15px;
  align-items: center;
}